#main-nav {
    background-color: #333;
    padding: 10px;
  }
  
  #nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    color: #fff;
  }
  
  #nav-item-1,
  #nav-item-2,
  #nav-item-3 {
    margin: 0 10px;
    color: #fff;
  }
  
  #nav-item-1 a,
  #nav-item-2 a,
  #nav-item-3 a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    transition: color 0.3s ease;
  }
  
  #nav-item-1 a:hover,
  #nav-item-2 a:hover,
  #nav-item-3 a:hover {
    color: #eb1ea0;
  }

  .home-container {
    padding: 20px;
  }
  
  .card-container {
    display: flex;
    justify-content: space-between;
  }
  
  .card {
    width: 200px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
  }